.django-ace-widget {
    display: inline-block;
    height: 300px;
    position: relative;
    width: 500px;
}

.django-ace-widget > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.django-ace-widget.loading {
    display: none;
}
